.idea
runtime/
docker/libraries/
docker/extensions/
docker/source/

# Vendor files
/vendor/**

# default source extract directory
/source/**

# built by shared embed tests
/locale/

# default source download directory
/downloads/**

# default source build root directory
/buildroot/**

# default package root directory
/pkgroot/**

# Windows PHP SDK binary tools
/php-sdk-binary-tools/**

# default pack:lib and release directory
/dist/**
packlib_files.txt

# tools cache files
.php-cs-fixer.cache
.phpunit.result.cache

# exclude self-runtime
/bin/*
!/bin/spc*
!/bin/setup-runtime*
!/bin/docker-entrypoint.sh

# exclude windows build tools
/php-sdk-binary-tools/

# default test directory
/tests/var/

# VitePress
/node_modules/
/docs/.vitepress/dist/
/docs/.vitepress/cache/
package-lock.json
pnpm-lock.yaml

# craft
craft.yml

# SPC logs
log/

# spc.phar
spc.phar
spc.exe
