.idea
runtime/
docker/libraries/
docker/extensions/
docker/source/

# Vendor files
/vendor/

# default source extract directory
/source/

# default source download directory
/downloads/

# default source build root directory
/buildroot/

# tools cache files
.php-cs-fixer.cache
.phpunit.result.cache

# exclude self-runtime
/bin/*
!/bin/spc*
!/bin/setup-runtime*
!/bin/spc-alpine-docker

# default test directory
/tests/var/
