parameters:
  reportUnmatchedIgnoredErrors: false
  level: 4
  phpVersion: 80400
  paths:
    - ./src/
  ignoreErrors:
    - '#Unsafe usage of new static#'
    - '#class Fiber#'
    - '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist#'
    - '#Function Swoole\\Coroutine\\run not found.#'
    - '#Static call to instance method ZM\\Logger\\ConsoleColor#'
    - '#Constant GNU_ARCH not found#'
    -
      identifiers:
        - 'if.alwaysFalse'
  dynamicConstantNames:
    - PHP_OS_FAMILY
  excludePaths:
      analyseAndScan:
            - ./src/globals/ext-tests/
            - ./src/globals/test-extensions.php
            - ./src/SPC/
